@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
    @apply 
    mt-1 block w-full px-3 py-2 bg-white border border-slate-300
    rounded-md text-sm shadow-sm placeholder-slate-400
    focus:outline-none focus:border-neutral-900 focus:ring-1
    focus:ring-neutral-900 disabled:bg-slate-50 disabled:text-slate-500
    disabled:border-slate-200 disabled:shadow-none
    invalid:border-pink-500 invalid:text-pink-600
    focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
}

h1 {
    @apply text-neutral-800 mb-2 text-xl;
}

label > span {
    @apply block text-sm font-medium text-neutral-800;
}

.btn-primary {
    @apply bg-neutral-900 text-white px-6 py-2 rounded-lg;
}