@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Szary kolor dla obrzeża */
  border-left-color: #007bff; /* Niebieski kolor dla sektora spinnera */
  border-radius: 50%; /* Sprawia, że kształt jest okrągły */
  width: 50px; /* Szerokość spinnera */
  height: 50px; /* Wysokość spinnera */
  animation: spin 1s linear infinite; /* Animacja kręcenia */
}
